.search__input {
  padding-left: 24px;
  margin-bottom: 80px;
  width: 608px;
  height: 64px;
  border: none;
  outline: none;
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}

@media screen and (min-width: 768px) and (max-width: 1231px) {
  .search__input {
    margin-bottom: 48px;
    width: 448px;
    height: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search__input {
    width: 288px;
    padding-left: 0;
    margin-bottom: 104px;
  }
}