.technologies__title {
    margin: 0;
    width: 344px;
    margin-right: 176px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
  }