.graph__bar_sun {
  width: 368px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
  .graph__bar_sun {
    width: 257px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .graph__bar_sun  {
    width: 94px;
  }
}