<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Иванов Антон"/>
  <meta name="copyright" content="Дипломный проект"/>
  <meta name="description" content="Что происходит в мире? Будь в курсе событий с сервисом NewsAnalyzer! Смотри, читай, узнавай, анализируй статистику запросов новостей."/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewsAnalyzer</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>
  <div class="root">
    
    <main class="content">
    
      <section class="search">
        <header class="header">
          <div class="header__container">
            <a href="./index.html" class="link header__logo header__logo_theme_light">NewsAnalyzer</a>
            <a href="./index.html" class="link header__link-main header__link-main_theme_light header__link-main_theme_main">Главная</a>
            <a href="./about.html" class="link header__link-about header__link-about_theme_light">О проекте</a>
          </div>
        </header>

        <div class="search__container">
          <h1 class="search__title">Что в мире творится?</h1>
          <p class="search__subtitle">Введите в поиске любую тему и узнайте, насколько популярной она была в новостях за прошедшую неделю.</p>
          <form class="search__field">
            <input type="text" class="search__input" placeholder="Природа" pattern="^[a-zA-Zа-яА-ЯЁё0-9]+$" minlength="2" maxlength="20" required>
            <button class="search__button">Искать</button>
          </form>
        </div>
      </section>

      <section class="results">
        <div class="results__container">
          <div class="results__loader hidden">
            <div class="results__img-loader"></div>
            <p class="results__loader-text">Идет поиск новостей...</p>
          </div>
          <div class="results__news">
            <div class="results__heading">
              <h2 class="results__title">Результаты поиска</h2>
              <a href="./analytics.html" class="link results__link-to-analytics">Посмотреть аналитику ></a>
            </div>
            <div class="results__news-list">
              <div class="news-card">
                <img src="<%=require('./images/image_08-min.png').default%>" alt="newsimage" class="news-card__image">
                <p class="news-card__date">2 августа, 2020</p>
                <h3 class="news-card__title">Национальное достояние - парки</h3>
                <p class="news-card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
                <p class="news-card__source">Лента.ру</p>
              </div>
              <div class="news-card">
                <img src="<%=require('./images/image_08-min.png').default%>" alt="newsimage" class="news-card__image">
                <p class="news-card__date">2 августа, 2020</p>
                <h3 class="news-card__title">Национальное достояние - парки</h3>
                <p class="news-card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
                <p class="news-card__source">Лента.ру</p>
              </div>
              <div class="news-card">
                <img src="<%=require('./images/image_08-min.png').default%>" alt="newsimage" class="news-card__image">
                <p class="news-card__date">2 августа, 2020</p>
                <h3 class="news-card__title">Национальное достояние - парки</h3>
                <p class="news-card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
                <p class="news-card__source">Лента.ру</p>
              </div>
            </div>
            <button class="results__button">Показать еще</button>
          </div>
          <div class="results__noresults hidden">
            <img src="<%=require('./images/not-found_v1.png').default%>" alt="notfound" class="results__img-noresults">
            <p class="results__noresults-title">Ничего не найдено</p>
            <p class="results__noresults-text">К сожалению, по вашему запросу ничего не найдено</p>
          </div>
        </div>
      </section>

      <section class="about">
        <div class="about__container">
          <img src="<%=require('./images/image-03.png').default%>" alt="" class="about__photo">
          <div class="about__description">
            <h2 class="about__title">Об авторе</h2>
            <p class="about__text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владете.</p>
            <p class="about__text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
            <p class="about__text">Если хотите, оставьте свои контакты: email и телефон. Так заказчики смогут с вами связаться.</p>
          </div>
        </div>
      </section>

    </main>

    <footer class="footer">
      <div class="footer__container">
        <p class="footer__copyrights">&copy; 2020 Supersite</p>
        <nav class="footer__nav">
          <ul class="footer__links">
            <li class="footer__nav-link"><a href="./index.html" class="link footer__link">Главная</a></li>
            <li class="footer__nav-link"><a href="./about.html" class="link footer__link">О проекте</a></li>
            <li class="footer__nav-link"><a href="https://praktikum.yandex.ru" class="link footer__link" target="_blank">Яндекс.Практикум</a></li>
          </ul>
        </nav>
        <div class="footer__icons">
          <a href="https://www.github.com/dubandrun" class="link footer__icon" target="_blank">
            <img src="<%=require('./images/gh-min.png').default%>" alt="github" class="footer__social">
          </a>
          <a href="https://www.facebook.com/dubandrun" class="link footer__icon" target="_blank">
            <img src="<%=require('./images/fb-min.png').default%>" alt="facebook" class="footer__social">
          </a>
        </div>
      </div>
    </footer>
  
  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

</body>
</html>

