/* .search__button_disabled {
  background: #fff;
  color: #b6bcbf;
}

.search__button_disabled:hover {
  background: #fff;
  color: #1a1b22;
  transition: 0.5s;
}

.search__button_disabled:active {
  background: #fff;
  transition: 0.5s;
} */
