.news-card__title {
  margin: 0;
  padding-left: 24px;
  margin-bottom: 16px;
  width: 352px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}
